/* Updated styles for the login container */
html{
  background-color: #FBF2E8;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-color: #FBF2E8;
  overflow: hidden;
  color: #EF8200;
  height: calc(100vh - 100px);
  background-image: url('../images/photobook-icons-kids.svg'); 
  background-repeat: no-repeat;
  background-size: 30%; /* Adjust the background size as needed */
  background-position: left bottom; /* Position the image at the bottom left */
}

.login-box {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 60%; /* Adjust the width to 70% for the login box */
  margin-top: 10vh;
  border: 2px solid #EF8200;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden; /* Hide overflowing content */
  min-height: 30vh;
}

/* LoginPage.css */
.login-content {
  flex: 1; /* Make login content take up remaining space */
  padding-right: 20px; /* Add some spacing between login content and image */
}

.login-image-container {
  flex: 0 0 30%; /* Take up 30% of the available width */
  max-width: 30%; /* Set a maximum width if needed */
  position: relative; /* Allow relative positioning within the container */
  overflow: hidden; /* Hide overflowing content */
  height: 100%; /* Ensure the container takes the full height of the login box */
  margin: -25px; /* Remove any margin on top and bottom, but keep -10px left and right margin */

}

.login-image {
  width: 100%; /* Ensure the image fills its container */
  height: 100%; /* Make the image take the full height of the container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}





/* Input and buttons */


input[type="password"] {
  border: 2px solid #EF8200; /* Harder orange border */
  border-radius: 15px; /* Rounded edges */
  padding: 10px; /* Adjust the padding for height and width */
  width: 80%; /* Make the input field 100% width of its container */
  height: 30px; /* Adjust the height as needed */
  font-size: 16px; /* Adjust the font size as needed */
  background-image: url('../images/photobook-icons-key.svg'); /* Replace with the correct path to your key icon image */
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position-x: 10px;
  padding-left: 45px;
}

input[type="password"]:focus {
  border: 3px solid #EF8200; /* Thicker orange border when focused */
  outline: none; /* Remove the default blue outline */
}
h2 {
  font-size: 20px; /* Adjust the font size for h2 */
}
  /* Updated styles for the login button */
  .login-button {
    background-color: #EF8200; /* Hard orange color for login button */
    color: white;
    padding: 15px 70px;
    border: none;
    border-radius: 15px; /* Rounded edges */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold; /* Make the text bold */
  }
  
  .login-button:hover {
    background-color: #D76F00; /* Darker orange color on hover */
  }
  
  /* Updated styles for the error message */
  .error-message {
    color: #D76F00; /* Red color for error message */
    margin-top: 10px;
    font-size: 14px;
    
  }
  
  /* Mobile Styles */
@media (max-width: 768px) {
  .login-container {
    background-size: 60%; /* Adjust the background size for mobile */
    background-position: center bottom; /* Position the image at the center bottom */
  }
  .login-container::after {
    content: "";
    position: absolute;
    top: 100%; /* Position it below the .login-container */
    left: 0;
    width: 100%;
    height: 100vh; /* Fill the remaining viewport height */
    background-color: #FBF2E8; /* Set the background color you want */
  }

  .login-box {
    background-color: transparent; /* Make the login box background transparent */
    box-shadow: none; /* Remove the box shadow */
    border: none; /* Remove the border */
    width: 100%; /* Make the login box full width */
    padding: 0; /* Remove padding */
 /* Adjust the min-height for full-screen display */
  }

  .login-image-container {
    display: none; /* Hide the image container */
  }

  input[type="password"] {
    background-position: center left;
    background-position-x: 10px;
    background-color: #FBF2E8;
  }

  h2 {
    font-size: 18px; /* Adjust the font size for h2 on mobile */
  }

  .login-button {
    padding: 15px 50px; /* Adjust padding for the login button on mobile */
  }
}